nbproject
.project
*.idea
.idea
*.sublime-project
*.sublime-workspace
*.tmproj
.buildpath
.cache
.settings
.tmproj
*.esproj
*~
.DS_Store
.DS_Store?
*.swp
._*
*.out
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db